# <a id='toc1_'></a>[<center> Лабораторная работа 1 (часть 1)](#toc0_)

In [8]:
import pandas as pd
import numpy as np

In [9]:
np.random.seed(242)

### <a id='toc1_1_1_'></a>[Информация для последующих заданий](#toc0_)
- Для всех последующих заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные tr_mcc_codes, tr_types, transactions и gender_train из одноимённых таблиц из папки data. Для таблицы transactions используйте только первые n=1000000 строк. Обратите внимание на разделители внутри каждого из файлов - они могут различаться!

In [10]:
tr_mcc_codes = pd.read_csv('files1\\tr_mcc_codes.csv', sep=';')
tr_types = pd.read_csv('files1\\tr_types.csv', sep=';')
transactions = pd.read_csv('files1\\transactions.csv', sep=',', nrows=1000000)
gender_train = pd.read_csv('files1\\gender_train.csv', sep=',')

## <a id='toc1_2_'></a>[Описание данных](#toc0_)
### <a id='toc1_2_1_'></a>[Таблица ```transactions.csv```](#toc0_)
##### <a id='toc1_2_1_1_1_'></a>[Описание](#toc0_)
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### <a id='toc1_2_1_1_2_'></a>[Формат данных](#toc0_)

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### <a id='toc1_2_1_1_3_'></a>[Описание полей](#toc0_)

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


### <a id='toc1_2_2_'></a>[Таблица ```gender_train.csv```](#toc0_)

##### <a id='toc1_2_2_1_1_'></a>[Описание](#toc0_)
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### <a id='toc1_2_2_1_2_'></a>[Формат данных](#toc0_)
```
customer_id,gender
111111,0
111112,1
...
```

##### <a id='toc1_2_2_1_3_'></a>[Описание полей](#toc0_)
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### <a id='toc1_2_3_'></a>[Таблица ```tr_mcc_codes.csv```](#toc0_)

##### <a id='toc1_2_3_1_1_'></a>[Описание](#toc0_)
Данная таблица содержит описание mcc-кодов транзакций.

##### <a id='toc1_2_3_1_2_'></a>[Формат данных](#toc0_)
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### <a id='toc1_2_3_1_3_'></a>[Описание полей](#toc0_)
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

### <a id='toc1_2_4_'></a>[Таблица ```tr_types.csv```](#toc0_)

##### <a id='toc1_2_4_1_1_'></a>[Описание](#toc0_)
Данная таблица содержит описание типов транзакций.

##### <a id='toc1_2_4_1_2_'></a>[Формат данных](#toc0_)
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### <a id='toc1_2_4_1_3_'></a>[Описание полей](#toc0_)
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

#### <a id='toc1_2_4_2_'></a>[Задание 1.](#toc0_)
1. В tr_types выберите произвольные 100 строк с помощью метода sample и выведите их на экран
2. В полученной на предыдущем этапе подвыборке найдите долю наблюдений (столбец tr_description), в которой содержится подстрока 'плата' (в любом регистре). (\*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### <a id='toc1_2_4_2_1_'></a>[Пояснения:](#toc0_)
(\*) Строки "ПлатА за аренду", "ПлатАза аренду", "ПЛАТА" удовлетворяют условию, так как будучи переведёнными в нижний регистр содержат подстроку "плата".

In [11]:
# 1.1
random_tr_types_100 = tr_types.sample(n=100)
print('1.1\n', random_tr_types_100, '\n\n')

# 1.2
print(f"1.2\nДоля: {len(random_tr_types_100[random_tr_types_100['tr_description'].str.contains('плата', case=False)]) / 100:.2}")

1.1
      tr_type                                     tr_description
37      6210                    Возврат покупки.POS Зарубеж. ТУ
50      7034  Перевод на карту/ с карты через АТМ (без взима...
145     2431  Перевод с карты на счет физ.лица в другом банк...
4       4001  Плата за получение наличных в Сбербанке (в дру...
69      8000                   Поправки по счету клиен. Зачисл.
..       ...                                                ...
24      4100                Плата за получение наличных. Россия
130     2371  Списание с карты на карту по операции <перевод...
140     2421  Перевод с карты на счет физ.лица в другом тер....
6       4011  Плата за получение наличных в АТМ Сбербанка (в...
52      7040  Перевод на карту (с карты) через POS (в предел...

[100 rows x 2 columns]


1.2
Доля: 0.26

#### <a id='toc1_2_4_3_'></a>[Задание 2.](#toc0_)
1. Для поля tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.Частота должна выводиться в долях от единицы (параметр normalize)!
2. Выведите названия транзакций, которые попали в топ-5 по частоте встречаемости (использовать цикл!).

In [12]:
# 2.1
tr_counts = transactions['tr_type'].value_counts(normalize=True)
print('2.1\n', tr_counts, '\n\n2.2\n')

# 2.2
for i in tr_counts[:5].index:
    print(tr_types[tr_types['tr_type'] == i]['tr_description'])

2.1
 tr_type
1010    0.231117
2010    0.151166
7070    0.149006
1110    0.137658
1030    0.118975
          ...
2446    0.000004
4096    0.000004
8146    0.000003
1510    0.000002
8100    0.000002
Name: proportion, Length: 72, dtype: float64

2.2

98    Покупка. POS ТУ СБ РФ
Name: tr_description, dtype: object
106    Выдача наличных в АТМ Сбербанк России
Name: tr_description, dtype: object
59    Перевод на карту (с карты) через Мобильный бан...
Name: tr_description, dtype: object
101    Покупка. POS ТУ Россия
Name: tr_description, dtype: object
99    Оплата услуги. Банкоматы СБ РФ
Name: tr_description, dtype: object

#### Задание 3
1. Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту). (\*)
2. Найдите у него наиболее часто встречающийся модуль суммы приходов/расходов. (\**)


##### Пояснения:
(\*) Если у клиента были транзакции [-10000, 10, 0, -10], то максимумом будет являться значение 10. <br>
(\**) Если у клиента были транзакции [-10000, 10, 0, -10], то наиболее встречающийся модуль суммы транзакций равен 10, и встретился он 2 раза.

In [13]:
# 3.1
tr_amount = transactions['amount']
humen = transactions[tr_amount == tr_amount.max()]['customer_id'].values[0]
print('3.1\nКлиент:', humen, '\n\n')

# 3.2
print('3.2\nСумма:', transactions[transactions['customer_id'] == humen]['amount'].apply(lambda x: abs(x)).value_counts().index[0])

3.1
Клиент: 26782922


3.2
Сумма: 22459.16

#### Задание 4.
1. Вычислите для каждого клиента общую сумму транзакций и посчитайте медиану сумм транзакций для всех клиентов
2. Вычислите для каждого клиента общую сумму транзакций только по тем строкам, где нет пустых значений и посчитайте медиану сумм транзакций для всех клиентов по данной выборке
3. Отсортируйте транзакции по полю amount в порядке возрастания и удалите строки, которые дублируются по столбцам [mcc_code, tr_type], причем при удалении нужно оставить только последние из дублирующихся строк (keep='last')
4. Для полученной выше выборки снова найдите общую сумму транзакций для каждого клиента и посчитайте медиану сумм транзакций для всех клиентов
5. Найдите максимальную разницу между вычисленными тремя медианами сумм транзакций (*).
Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Для вычисления максимальной разницы между значениями списка можно использовать функцию np.ptp  
(\**) Если в результате получились значения [1,3,5], то макимальная разница между ними 4 == 5-1.

In [14]:
# 4.1
tr = transactions.groupby('customer_id')['amount'].sum()
print(f"4.1\n{tr}\n\nМедиана 1: {tr.median()}\n\n")

# 4.2
tr_not_null = transactions.dropna().groupby('customer_id')['amount'].sum()
print(f"4.2\n{tr_not_null}\n\nМедиана 2: {tr_not_null.median()}\n\n")

# 4.3
transactions_2 = transactions.sort_values(by='amount').drop_duplicates(subset=['mcc_code', 'tr_type'], keep='last')
print('4.3\n', transactions_2, '\n\n')

# 4.4
transactions_2 = transactions_2.groupby('customer_id')['amount'].sum()
print(f"4.4\n{transactions_2}\n\nМедиана 3: {transactions_2.median()}\n\n")

# 4.5
print(f"Максимальная разница: {np.ptp([tr.median(), tr_not_null.median(), transactions_2.median()]):.2f}")

4.1
customer_id
115617     -10978011.60
117556      -8666289.58
127946      -2265191.34
186730      -2579583.44
189257     -17685087.75
               ...
99864691        5109.24
99900908    -5904752.98
99953525    -4914623.05
99967537    -1846142.77
99999680   -16858696.35
Name: amount, Length: 1892, dtype: float64

Медиана 1: -7619252.365


4.2
customer_id
115617     -4951399.84
117556     -4693477.09
127946     -1260210.52
186730      -680569.57
189257     -9116504.60
               ...
99864691       5196.82
99900908   -3069357.95
99953525   -3228976.74
99967537   -1846142.77
99999680   -6106113.07
Name: amount, Length: 1889, dtype: float64

Медиана 2: -4076575.59

4.3
         customer_id   tr_datetime  mcc_code  tr_type        amount   term_id
300810     30627668  255 00:00:00      8299     1200 -7.012701e+05  00000002
608865     67901119  168 00:00:00      8011     1210 -6.981068e+05       NaN
3727        1585299  433 08:00:27      5532     1100 -6.558074e+05    759823
111920     54645432  167 00:00:00      5722     1200 -5.971890e+05       NaN
814386     54890147   91 00:00:00      5261     1100 -5.703288e+05       NaN
...             ...           ...       ...      ...           ...       ...
703464     87451106   72 14:49:38      6011     7010  9.769734e+06       NaN
76813       1747627  137 12:38:52      6010     7071  1.122958e+07       NaN
62067       9363087  295 04:33:03      6010     7021  2.202727e+07    152657
162550     82581973  192 18:18:17      6010     7020  6.737747e+07       NaN
308597     26782922  151 11:35:44      6010     7070  1.459845e+08       NaN

[839 rows x 6 columns]


4.4
customer_id
302489       -1076.69
361458        -673.77
493506         -56.15
701335       -9048.35
961425       -1661.98
              ...
98612933    269509.89
99014776    273642.38
99172426    -31001.28
99289665       -11.23
99622409    127883.80
Name: amount, Length: 450, dtype: float64

Медиана 3: -449.18


Максимальная разница: 7618803.19